
/* 
Dark Mode Background with Dots  */
.dark-bg {
  background: radial-gradient(circle, #ffffff33 1px, transparent 1px);
  background-size: 20px 20px;
  background-color: #000000;
}

/* Light Mode Background with Dots */
.light-bg {
  background: radial-gradient(circle, #ffffff33 1px, transparent 1px);
  background-size: 20px 20px;
  background-color: #e5e0e0;
}

/* Responsive Design */
@media (max-width: 1024px) {
  #root {
    padding: 1.5rem;
  }
  .logo {
    height: 5em;
  }
  .card {
    padding: 1.5em;
  }
}

@media (max-width: 768px) {
  #root {
    padding: 1rem;
  }
  .logo {
    height: 4em;
  }
  .card {
    padding: 1em;
  }
}

@media (max-width: 480px) {
  #root {
    padding: 0.5rem;
  }
  .logo {
    height: 3em;
  }
  .card {
    padding: 0.5em;
  }
  .read-the-docs {
    font-size: 0.9rem;
  }
}
